# ignory

*.app
*.xcuserdatad

# Xcode
*.plist
*.xcconfig
*.xcodeproj

**.zip

**.log

*.exp
*.ilk
*.lib
*.dll
**/obj/Debug
*.sdf
*.opensdf
*.xccheckout

# VS files.
**.rc
**.sln
**.vcxproj
**.vcxproj.filters
**/obj/
